#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


h1{
    color: var(--text-color);
    margin: 0.5em 0 0.5em 0.5em;
}
#buttons{
    display: flex;
    gap: 0.5em;
    .button{
        color: white;
    }
}
