<div id="chat-panel">
    <h2 id="title">Chat Replay</h2>
    <div id="chat" *ngIf="isChatAvailable">
        <ng-scrollbar id="messages-scrollable-container" [autoHeightDisabled]="false">
            <div #messagescontainer id="messages">
                <ng-template ngFor let-message [ngForOf]="messages" let-i="index">
                    <app-message [message]="message" *ngIf="message.content_offset_seconds < currentTime"></app-message>
                </ng-template>
            </div>
        </ng-scrollbar>
        <button #scroll id="scrolldown-button" *ngIf="showScrollDownButton" (click)="scrollDown()">
            <mat-icon>arrow_downward</mat-icon>
            <span>See new messages</span>
            <span></span>
        </button>
    </div>
    <div id="chat" *ngIf="!isChatAvailable">
        <h3>Unavailable</h3>
    </div>
</div>
