
#chat-panel{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#title{
    color: var(--text-color);
    text-align: center;
    margin: 0.4em 0;
}

#chat{
    position: relative;
    flex-grow: 1;
    overflow: hidden;
}

#messages-scrollable-container{
    --scrollbar-size: 6px;
    --scrollbar-thumb-color: gray;
    --scrollbar-hover-size: 10px;
    --scrollbar-track-color: rgba(0, 0, 0, 0.05);
    --scrollbar-border-radius: 5px;
    height: 100%;
}

#messages{
    height: 100%;
    padding: 0 0.6em;
}

#scrolldown-button{
    --background-opacity: 0.7;
    display: flex;
    position: absolute;
    bottom: 2em;
    left: 50%;
    translate: -50% 0;
    background-color: rgba(255, 255, 255, var(--background-opacity));
    border: none;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    width: 75%;
    font-size: 1.2em;
    cursor: pointer;

    &:hover{
        --background-opacity: 0.9;
    }
}