<div id="message">
    <span id="user">
        <span id="badges">
            <app-badge *ngFor="let badgeInfo of message.message.user_badges" [id]="badgeInfo._id" [version]="badgeInfo.version"></app-badge>
        </span>
        <span id="username" [ngClass]="{'italic': message.message.is_action}" [ngStyle]="{'color':message.message.user_color}">{{message.commenter.display_name}}</span>
    </span>
    <span *ngIf="!message.message.is_action">:</span>
    <span>&nbsp;</span>
    <span id="contents" [ngClass]="{'italic': message.message.is_action}">
        <ng-template ngFor let-fragment [ngForOf]="contentFragments" let-i="index">
            <ng-container [ngSwitch]="fragment.type">
                <span *ngSwitchCase="FragmentTypeEnum.Text">{{$any(fragment).text}}</span>
                <a *ngSwitchCase="FragmentTypeEnum.Link" [href]="$any(fragment).url" target="_blank" class="link">{{$any(fragment).url}}</a>
                <img
                    *ngSwitchCase="FragmentTypeEnum.Emote" 
                    [src]="'https://static-cdn.jtvnw.net/emoticons/v1/' + $any(fragment).id + '/1.0'" 
                    class="emote"
                    [matTooltip]="$any(fragment).name ?? ''"
                    [matTooltipShowDelay]="100"
                    matTooltipClass="mat-tooltip above"
                    matTooltipPosition="above"
                    >
            </ng-container>
        </ng-template>
    </span>
   
</div>