#message{
    color: var(--text-color);
    word-break: break-word;
    margin: 0.5em 0;
}

.fragment{
    word-break: break-word;
}

.emote{
    position: relative;
    vertical-align: middle;
}

.link{
    //color: #5c16c5; for the future for light mode theme
    color: #bf94ff;
    text-decoration: none;
}