/* You can add global styles to this file, and also import other style files */

:root{
    --background-color: black;
    --text-color: white;
}

html, body{
    overflow: hidden;
    padding: 0;
}

body{
    background-color: var(--background-color);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
