/* You can add global styles to this file, and also import other style files */

@use "styles/video-player.scss";
@use "styles/tooltips.scss";

@use "@angular/material" as mat;

@use "./styles/themes/light";
@use "./styles/themes/dark";

@use "./app/share-dialog/share-dialog.component.scss" as share;


@mixin use-theme($theme){
    @include mat.core-color($theme);

    @include mat.button-color($theme);
    @include mat.icon-color($theme);
    @include mat.tooltip-color($theme);
    @include mat.dialog-color($theme);
    @include mat.snack-bar-color($theme);
    @include mat.input-color($theme);
    @include mat.checkbox-color($theme);
    @include mat.divider-color($theme);
    @include mat.radio-color($theme);
    @include share.url-color($theme);
}

@include mat.core();

:root {
    @include use-theme(light.$my-app-light-theme);
    --text-color: mat-color($accent, default);

    .dark-theme {
        @include use-theme(dark.$my-app-dark-theme);

        --text-color: mat-color($accent, default);
    }
}

html,
body {
    overflow: hidden;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
