<div id="dialog">
    <div mat-dialog-title id="dialog-title">
        <h2>Settings</h2>
        <button mat-icon-button aria-label="close dialog" mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content id="settings">
        <h3>Theme</h3>
        <mat-radio-group [value]="currentTheme" (change)="onThemeChange($event)">
            <mat-radio-button *ngFor="let theme of themes" [value]="theme.id">{{theme.name}}</mat-radio-button>
        </mat-radio-group>
        <h3>Chat appearance</h3>
        <mat-checkbox [checked]="readableColors" (change)="onReadableColorsChange($event)">Readable Colors</mat-checkbox>
        <mat-checkbox [checked]="messageTimestamp" (change)="onMessageTimestampChange($event)">Timestamp For Messages</mat-checkbox>
    </div>
</div>