<vg-player  (onPlayerReady)="onPlayerReady($event)">
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>

    <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-controls [vgAutohide]="true">
        <vg-play-pause></vg-play-pause>
        <vg-playback-button [playbackValues]="[ '0.5', '1.0', '1.5', '2.0', '4.0' ]"></vg-playback-button>

        <span id="time-display">
            <vg-time-display vgProperty="current" vgFormat="hh:mm:ss"></vg-time-display>
            <span id="time-separator">/</span>
            <vg-time-display vgProperty="total" vgFormat="hh:mm:ss"></vg-time-display>
        </span>

        <span class="filler"></span>

        <vg-mute></vg-mute>
        <vg-volume></vg-volume>
        
        <app-picture-in-picture [video]="media" class="mobile-hidden"></app-picture-in-picture>
        <vg-fullscreen></vg-fullscreen>
        
    </vg-controls>

    <video [vgMedia]="$any(media)" #media id="singleVideo" [src]="src"  preload="auto" crossorigin autoplay (timeupdate)="updateTime()">
    </video> 
</vg-player>
